.footer {
  color: var(--color-base-text);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  background-color: var(--color-base-bg-2);
  font-size: 15px;

  a {
    color: inherit;
    text-decoration: none;
    padding: 4px 0 4px 0;

    @include media-breakpoint-up(md) {
      padding: 2px 0 2px 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 7px;
    color: inherit;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      a {
        display: block;
      }
    }

    li.active {
      a {
        font-weight: 700;
      }
    }
  }

  .footer-menu {
    margin-bottom: 10px;
  }

  .footer-info {
    h2,
    h3 {
      font-weight: 700;
      font-size: 23px;
      margin-bottom: 7px;
      color: inherit;
    }

    p {
      font-size: 16px;
      color: inherit;
    }
  }

  .footer-info + .social {
    margin-top: 20px;
  }

  .contact {
    > div {
      padding: 4px 0 4px 0;

      @include media-breakpoint-up(md) {
        padding: 2px 0 2px 0;
      }
    }

    a {
      display: inline-block;
    }

    strong {
      font-weight: 600;
    }

    .conact-email {}

    .contact-phone {}

    .contact-address {}
  }






  .newsletter-form {
    $inputHeight: 70px;
    $primaryColor: #2fa861;
  
    body {
      background: $primaryColor;
      color: white; // Default text color for light mode
      padding: 30vh 0 0;
      text-align: left;
    }
  
    .container {
      margin: 0 auto;
      width: 650px;
      display: flex; /* Use flexbox to center-align the footer */
      justify-content: left; /* Center-align horizontally */


    }
  
  
    form {
      position: relative;
      display: block;
      height: $inputHeight;
      border-radius: 0.5 * $inputHeight;

      margin: 0 auto;
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.28);
      overflow: hidden;
      
      input {
        line-height: $inputHeight;
        padding: 0;
        border: none;
        outline: none;
  
        background: #eee;
       
        color: black; // Override text color to black
  
        &:not([type=submit]) {
          width: 100%;
          display: block;
          padding: 0 150px 0 30px;
          
        }
  
        &:not([type=email]) {
          position: absolute;
          height: $inputHeight - 20px;
          line-height: $inputHeight - 20px;
          top: 10px;
          right: 10px;
          border-radius: 0.5*($inputHeight - 20px);
          padding: 0 25px;
          background: lighten($primaryColor, 5%);
          cursor: pointer;
  
          &:hover {
            background: darken($primaryColor, 10%);
          }
        }
      }
    }
  }
}  