<div class="footer">
  <div class="container text-left"> <!-- Add 'text-center' class to center-align the entire footer content -->
    <div class="row justify-content-center">
      <div class="col-12 col-md-4" style="margin-bottom: 50px;">
        <div class="footer-info">
          <h2>Optimum Tuning</h2>
          <p>VFTuner Pro Licensed | YotaWerx Tuning Partner</p>
          <a href="https://www.facebook.com/Optimumtuning" target="_blank">
            <i class="fab fa-facebook" style="font-size: 30px; margin-right: 10px;"></i> 
          </a>
          <a href="https://www.instagram.com/Optimumtuningllc" target="_blank">
            <i class="fab fa-instagram" style="font-size: 30px;"></i>
          </a>
          <!-- Social media icons and dark mode switcher -->
          {% if site.footer.enable_social_media_icons and site.data.social %}
          {% endif %}
          {% if site.darkmode.enable_dark_mode and site.darkmode.show_dark_mode_toggle_in_footer %}
            {% include framework/dark-mode-switcher.html %}
          {% endif %}
        </div>
      </div>

      <!-- Contact information -->
      <div class="col-12 col-md-4" style="margin-bottom: 30px;"> <!-- Add margin-bottom to create space -->
        <h3 style="margin-bottom: 10px;"><strong>Contact Us</strong></h3>
        <p>
          <strong><i class="fas fa-envelope"></i></strong>&nbsp;
          <a href="mailto:Optimumtuning@gmail.com" style="font-size: 16px;">Optimumtuning@gmail.com</a>
        </p>          
        <p>
          <strong><i class="fas fa-phone"></i></strong>&nbsp;
          <a href="tel:+16169651765" style="font-size: 16px;">(616) 965-1765</a> <strong>(Text first)</strong>
        </p>      
        <!--
        <p>
          <strong><i class="fab fa-facebook"></i></strong>&nbsp;
          <a href="https://www.facebook.com/Optimumtuning" target="_blank">Facebook.com/Optimumtuning</a>
        </p>
        <p>
          <strong><i class="fab fa-instagram"></i></strong>&nbsp;
          <a href="https://www.instagram.com/Optimumtuningllc" target="_blank">Instagram.com/Optimumtuningllc</a>
        </p>
      -->
        <p>
          <strong><i class="fas fa-map-marker-alt"></i></strong>&nbsp;
          <a href="https://www.google.com/maps/d/u/5/edit?mid=1ptngDdVgxl9HaWQ7X6bCDauA2mOVrjE&ll=43.46286555011065%2C-84.78964985&z=8" 
          target="_blank" style="font-size: 16px;">Frequent Tuning Locations</a>
        </p>
      </div>
      
      <!-- Newsletter form -->
      <div class="col-12 col-md-4 d-flex justify-content-end"> <!-- Add 'justify-content-end' class to move the content to the right -->
        <div class="newsletter-form text-left">
          <div style="margin-left: 5%;"> <!-- Add this div to contain the text you want to shift -->
            <h2 style="margin-bottom: 5px; margin-top: 0px; font-size: 25px; font-weight: bold;">Connect with Us</h2>
            <p style="margin-bottom: 15px; font-size: 15px; font-weight:;">Sign Up for promotions, events and updates.</p>
          </div>
          <form action="https://gmail.us18.list-manage.com/subscribe/post?u=1146799697e839dad5fd66da1&amp;id=bb4102fb6d&amp;f_id=00e2c2e1f0" method="post" target="_blank">
            <input type="email" name="EMAIL" id="email" placeholder="Email Address" style="width: 100%; margin-bottom: 10px;" required>
            <input type="submit" name="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
