<div class="footer">
  <div class="container">
    <div class="row">

        <div class="col-12 col-md-4">
          <div class="footer-info">
              <h2>Optimum Tuning</h2>
              <p>VFTuner Pro Licensed | YotaWerx Tuning Partner</p>
          </div>
          {% if site.footer.enable_social_media_icons and site.data.social %}
            {% include framework/social.html %}
          {% endif %}
          {% if site.darkmode.enable_dark_mode and site.darkmode.show_dark_mode_toggle_in_footer %}
            {% include framework/dark-mode-switcher.html %}
          {% endif %}
        </div>
    </div>
    <div class="row justify-content-end mt-2">
      <div class="col-12 col-md-4">
        <h3>Contact Us</h3>
        <p>
          <strong><i class="fas fa-envelope"></i></strong>&nbsp;
          <a href="mailto:Optimumtuning@gmail.com">Optimumtuning@gmail.com</a>
        </p>          
        <p>
          <strong><i class="fas fa-phone"></i></strong>&nbsp;
          <a href="tel:+16169651765">(616) 965-1765</a> <strong>(Text first)</strong>
        </p>          
        <p>
          <strong><i class="fab fa-facebook"></i></strong>&nbsp;
          <a href="https://www.facebook.com/Optimumtuning" target="_blank">Facebook.com/Optimumtuning</a>
        </p>
        <p>
          <strong><i class="fab fa-instagram"></i></strong>&nbsp;
          <a href="https://www.instagram.com/Optimumtuningllc" target="_blank">Instagram.com/Optimumtuningllc</a>
      </div>
    </div>
  </div>
</div>