---
layout: default
body_classes: page-contact
description: Please read the FAQ prior to submitting
image: "/assets/tacoma/0X0A3506_700x.webp"



hero:
  enabled: true
  heading: "FAQs"
  sub_heading: "Please read the FAQ prior to submitting"
  
  
  text_color: "#FFFFFF"
  background_color: ""
  background_gradient: true
  background_image: "/assets/yotawerx_logo/YotaWerx_Tuning_logo_highres_circlegrey.png"
  background_image_blend_mode: overlay # "overlay", "multiply", "screen"
  fullscreen_mobile: true
  fullscreen_desktop: false
  height: "300px"
  

---

{% if page.hero.enabled %}
  {% include framework/hero.html 
    heading=page.hero.heading
    sub_heading=page.hero.sub_heading
    text_color=page.hero.text_color
    background_image=page.hero.background_image
    background_image_blend_mode=page.hero.background_image_blend_mode
    background_color=page.hero.background_color
    background_gradient=page.hero.background_gradient
    fullscreen_mobile=page.hero.fullscreen_mobile
    fullscreen_desktop=page.hero.fullscreen_desktop
    height=page.hero.height
    buttons=page.hero.buttons
  %}
{% else %}
  <div class="section">
    <div class="container">
    {% include framework/title.html
      fa_icon=page.fa_icon
      icon=page.icon
      title=page.title
      description=page.description
      image=page.image
    %}
    </div>
  </div>
{% endif %}
