---
layout: default
---
<div class="hero-image">
  <div class="hero-text">
      <div>
          <h1 class="slide-up">Optimum Tuning</h1>
          <h3 class="slide-up" style="animation-delay: 0.4s;">Mobile tuning service based in <strong>Grand Rapids, Michigan</strong></h3>
          <h3 class="slide-up" style="animation-delay: 1.s;">Mobile tuning service based in <strong>Grand Rapids, Michigan</strong></h3>
      </div>
  </div>
</div>

<style>

@keyframes slideUp {
  0% {
      transform: translateY(100%);
      opacity: 0; /* Initially hidden */
  }
  100% {
      transform: translateY(0);
      opacity: 1; /* Fully visible */
  }
}

.hero-text h3.slide-up,.hero-text h1.slide-up {
  animation: slideUp 1s cubic-bezier(0.65, 0, 0.35, 1) 0.05s both; /* Delay for h1 */
}

.hero-text h3.slide-up {
  animation: slideUp 1s cubic-bezier(0.65, 0, 0.1, 1) 0.7s both; /* Delay for h3 */
}



@keyframes zoomOut {
from {
  transform: scale(1.2); /* Start with a larger scale */
}
to {
  transform: scale(1); /* End with the original scale */
}
}


/* Other styles remain the same */
.hero-text {
text-align: left;
position: absolute;
top: 40%;
left: 5%;
color: white;
overflow: hidden;


}


body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), 
url("/assets/hero/car32546.jpg");

/* Set a specific height */
height: 70vh;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;



animation: zoomOut 1s ease; /* Animation duration and easing */
}

/* Place text in the middle of the image */
.hero-text {
text-align: left;
position: absolute;
top: 40%;
left: 5%;

color: white;

}
  


</style>