---
layout: default
header_transparent: true
---
<div class="hero-wrapper">
  <div class="hero-image">
    <div class="hero-text">
      <h1><strong>Optimum Tuning</strong></h1>
      <h3 style="color: rgb(201, 201, 201);">Mobile tuning service based in <strong>Grand Rapids, Michigan</strong>. </h3>
    </div>
  </div>
</div>

<style>
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .hero-text h1 {
  animation: slideUp 1s ease; /* Animation with 1 second duration for h1 */
  animation-fill-mode: both;
  animation-delay: 0.3s; /* Delay the animation start for h1 by 0.5 seconds */
}

.hero-text h3 {
  animation: slideUp 1s ease; /* Animation with 1 second duration for h3 */
  animation-fill-mode: both;
  animation-delay: .65s; /* Delay the animation start for h3 by 1 second */
}

@keyframes zoomOut {
    from {
      transform: scale(1.3); /* Start with a larger scale */
    }
    to {
      transform: scale(1); /* End with the original scale */
    }
  }

  /* Ensure that content overflow is hidden within the hero container */
  .hero-wrapper {
    overflow: hidden;
  }




/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), 
url("/assets/hero/car32546.jpg");

/* Set a specific height */
height: 500px;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;

animation: zoomOut 1.5s ease; /* Animation duration and easing */
}

/* Place text in the middle of the image */
.hero-text {
text-align: left;
position: absolute;
top: 40%;
left: 10%;
color: white;
overflow: hidden;
}

</style>










<!----------------------------------------------SUPPORTED VEHICLES-------------------->
<div style="margin-top: 60px;"></div>

<style>
  .support-container {
    text-align: center;
  }
  .support-title {
    font-size: 3.5em;
    margin: 20px 0;
  }
    .support-subtitle {
    font-size: 1.5em;
    margin: 30px 0;
    margin-top: -20px;
  }

  .supported-vehicles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
  }
  .supported-vehicles .icon {
    margin-bottom: 10px;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: 250px;
    height: 20px;
    margin: 0 auto 0px;
    border-radius: 10px;
    max-width: 250px;
    max-height: 250px;
    transition: transform 0.3s ease; /* Transition for smooth scaling of the HOVER*/
  }
  .supported-vehicles .icon img {
    max-width: 100%;
    max-height: 100%;
  }
  .supported-vehicles .title {
    font-size: 1.5em;
    margin-bottom: 8px;
    line-height: 1;
    margin-top: 30px;
  }
  .supported-vehicles .description {
    margin-bottom: 5px;
    color: #585858;
  }
  .supported-vehicles .benefit {
  margin: 0 30px; /* Adjust this value to set the desired space between columns */
}
 
/* BUTTON PORTION */

  .button-container {
      display: flex; /* Enable flexbox */
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically (if you also want vertical centering) */
    
    }
    .button {
      background-color: #4285F4; /* Blue */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 50px; /* Rounded corners */
      font-family: Arial, sans-serif; /* Change as per preference */
    }
    /* Optional: styles for hover state */
    .button:hover {
      background-color: #2866c3; /* Darker blue */
    }

      /* Hover effect for images */
  .supported-vehicles .icon:hover {
    transform: scale(1.1); /* Enlarge on hover */
  }

</style>
</head>
<body>

  <div class="support-container">
    <div class="support-title"><strong>Supported Vehicles</strong></div>
    <div class="support-subtitle">We support 6 different Toyota models in addition to Lexus GX line.</div>
    
    <div class="supported-vehicles">
      
      <div class="benefit">
        <div class="icon" style="width: 200px; height: 200px;"><img src="/assets/home-supported-vehicles/lunar3gt.png"></div>
        <div class="title">Toyota Tacoma</div>
        <div class="description">Unmatched. Unequaled. Unstoppable.</div>
      </div>
      
      <div class="benefit">
        <div class="icon" style="width: 200px; height: 200px;"><img src="/assets/home-supported-vehicles/limegreen4runner.png"></div>
        <div class="title">Toyota 4Runner</div>
        <div class="description">For adventurers. For legends. 4Runner.</div>
      </div>
      
      <div class="benefit">
        <div class="icon" style="width: 200px; height: 200px;"><img src="/assets/home-supported-vehicles/19TundraTRDPRO_Black_JellyBean-Resized.png"></div>
        <div class="title">Toyota Tundra</div>
        <div class="description">Born for adventure. Driven for memories.</div>
      </div>
      
      <div class="benefit">
        <div class="icon" style="width: 200px; height: 200px;"><img src="/assets/home-supported-vehicles/lexusgx460silver.webp"></div>
        <div class="title">Lexus GX460/470</div>
        <div class="description">Let's start the next adventure.</div>
      </div>
    </div>
    <div class="button-container" style="margin-top: 50px;">
      <a href="/services/supported-vehicles">
      <button class="button">View All Vehicles</button>
      </a>
    </div>
  </div>
  

<div style="margin-bottom: 100px;"></div>








<!----------------------------------------------WHY TUNE YOUR TOYOTA/LEXUS-------------------->

<div style="margin-top: 60px;"></div>

<style>
  .benefit-container {
    text-align: center;
  }
  .benefit-title {
    font-size: 3em;
    margin: 20px 0;
  }
  .benefits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .benefit {
    width: 200px; /* Adjust width as necessary */
    margin: 20px;
    box-sizing: border-box;
  }
  .benefit-icon {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* If you want to make sure it's a perfect square regardless of screen size */
    /* You can add a max-width and max-height equal to the width and height */
    max-width: 100px;
    max-height: 100px;
  }
  .benefit-icon img {
    max-width: 100%;
    max-height: 100%;
  }
  .benefit-header {
    font-size: 1.5em;
    margin-bottom: 8px; /* Margin between title and description */
    line-height: 1; /* Adjust line height to make the lines closer */
    margin-top: 30px; /* Adjust margin between image box and description */
  }
  .benefit-description {
    margin-bottom: 5px;
    color: #585858;
    
  
  }
</style>
</head>
<body>

<div class="benefit-container">
  <div class="benefit-title"><strong>Why Tune Your Toyota/Lexus?</strong></div>
  
  <div class="benefits">
    
    <div class="benefit">
      <div class="benefit-icon"><img src="/assets/home-why-icon/throttle-body.png" ></div>
      <div class="benefit-header">Improve Throttle Response</div>
      <div class="benefit-description">Remove stock throttle lag</div>
    </div>
    
    <div class="benefit">
      <div class="benefit-icon"><img src="/assets/home-why-icon/gear.png" ></div>
      <div class="benefit-header">Eliminate Gear Hunting</div>
      <div class="benefit-description">Smoother shift points to match throttle</div>
    </div>
    
    <div class="benefit">
      <div class="benefit-icon"><img src="/assets/home-why-icon/speedometer-color.png" ></div>
      <div class="benefit-header">Linear Power Curve</div>
      <div class="benefit-description">Optimum power and torque delivery</div>
    </div>
    
    <div class="benefit">
      <div class="benefit-icon"><img src="/assets/home-why-icon/piston.png" ></div>
      <div class="benefit-header">Gain Power & Torque</div>
      <div class="benefit-description"><a href="link-to-dyno-data">See dyno data here</a></div>
    </div>
    

  </div>
  
</div>

</body>
</html>


<div style="margin-bottom: 60px;"></div>


<!----------------------------------------------YotaWerx-------------------->



<style>
  .yota-container {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .yota {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .yotawerx {
    display: flex;
    flex-direction: column;
    align-items: left; /* Center align for all screen sizes */
    margin-top: 20px; /* Adjust margin for all screen sizes */
    
  }
  .yotawerx .title {
    font-size: 2em; /* Adjust font size for all screen sizes */
    margin-bottom: 8px;
    line-height: 1;
    max-width: 100%; /* Set the maximum width for the title */
    text-align: left; /* Center align for all screen sizes */
  }
  .yotawerx .description {
    margin-top: 10px; /* Adjust margin for all screen sizes */
    color: #585858;
    font-size: 1.2em; /* Adjust font size for all screen sizes */
    max-width: 100%; /* Set the maximum width for the description */
    text-align: left; /* Center align for all screen sizes */
  }
 
  .icon {
    width: 100%; /* Set width to 80% of the container width */
    max-width: 600px; /* Set max-width for larger screens */
    height: auto; /* Let the height adjust according to the width */
    margin-bottom: 20px; /* Adjust margin for all screen sizes */
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .icon img {
    max-width: 100%;
    height: auto;
  }



  /* BUTTON PORTION */
  .yota-button-container {
    display: flex; /* Enable flexbox */
    justify-content: left; /* Center horizontally */
    align-items: center; /* Center vertically (if you also want vertical centering) */
  }
  .yota-button {
    background-color: #4285F4; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px; /* Rounded corners */
    font-family: Arial, sans-serif; /* Change as per preference */
    
  }
  /* Optional: styles for hover state */
  .yota-button:hover {
    background-color: #2866c3; /* Darker blue */
  }
  /* Hover effect for images */
  .icon:hover {
    transform: scale(1.1); /* Enlarge on hover */
  }
</style>


<div class="yota-container">
  <div class="yota">
    <div class="yotawerx">
      <div class="title">YotaWerx Tuning <br>Sets the Standards</div>
      <div class="description">Unmatched Drivability, Power and Performance.</div>
      <!-- Move button container here -->
      <div class="yota-button-container">
        <a href="https://yotawerxtuning.com" target="_blank">
          <button class="yota-button">YotaWerx</button>
        </a>
      </div>
    </div>
    <div class="margin">
      <div class="icon"><img src="/assets/yotawerx_logo/3D_Yotawerx_Transparente800x300.png"></div>
    </div>
  </div>
</div>





<div style="margin-bottom: 60px;"></div>